<!--- {{ lec.date | date: "%b %d" }} would result in "Jan 23" format -->
<ul>
  {% assign sorted_lectures = site.lectures | sort: "date" %}
  {% for lec in sorted_lectures %}
    <li>
      ({{ lec.date | date: "%m/%d" }})
      <a href="{{ lec.url | relative_url }}">{{ lec.title }}</a>
      {% if lec.slides_url %}
        [<a href="{{ lec.slides_url | relative_url }}">Slides</a>]
      {% endif %}
      {% if lec.demo_url %}
        [<a href="{{ lec.demo_url | relative_url }}">Code</a>]
      {% endif %}
    </li>
  {% endfor %}
</ul>